@import "variables";

@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: $phone) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $breakpoint == desktopLarge {
    @media (max-width: $desktopLarge) {
      @content;
    }
  }
}

@mixin section-heading {
  font-size: 4.375rem;
  line-height: 4.375rem;
  margin: 0;
  text-transform: uppercase;
  @include respond-to(phone) {
    font-size: 54px;
  }
}

@mixin section-padding {
  padding: 78px 53px 48px 53px;
}

@mixin p-text {
  line-height: 1.5625rem;
  font-weight: 500;

  @include respond-to(phone) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  color: $font-color-light;
}

// #region NAVIGATION BAR
.smartphone-only {
  display: none !important;
}

@include respond-to(phone) {
  .smartphone-only {
    display: block !important;
  }
}

.bg-dark {
  background-color: $background-color-dark;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.border-bottom-white {
  border-bottom: 1rem solid $font-color-light;
}

.button {
  display: inline-block;
  padding: 0.875rem 3.625rem;
  border: none;
  border-radius: 2.8125rem;
  background-color: $secondary-color;
  color: $font-color-light;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
    color: $font-color-light !important;
  }
}

// #region LAYOUT
.section-wrapper {
  width: 100%;
}

.inner-container {
  max-width: 75rem;
  margin: 0 auto;
}
// #endregion

// #region NAVIGATION BAR
.navigation-section {
  @include respond-to(phone) {
    display: none;
  }

  .navigation-bar {
    padding: 1.5625rem 0;
    ul {
      font-weight: 600;
      text-align: center;
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      max-width: 59.9375rem;
      width: 100%;
      li {
        flex: 1;
        margin: 0 0;
      }

      .logo {
        display: flex;
        justify-content: center;
        img {
          width: 9.5rem;
          height: auto;
        }
      }

      a {
        text-decoration: none;
        color: $font-color-light;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
// #endregion

// #region INTRO BANNER
.intro-banner {
  display: grid;
  grid-template-columns: 6.25rem minmax(auto, 75rem) 1fr; /*left margin, inner container, right margin*/
  width: 100%;
  background-color: $primary-color;
  height: 25rem;

  @include respond-to(phone) {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }
}

.image-section {
  grid-column: 2 / 4;
  background-image: url("../assets/images/photos/quality-service-photo.jpg");
  background-size: cover;
  background-position: right;
  position: relative;
  display: flex;
  align-items: center;

  @include respond-to(phone) {
    background-position: center;
    flex-direction: column;
    height: 100dvh;
    padding: 3.5rem 1.625rem 1.25rem 1.625rem;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 31.25rem;
    width: calc(50vw);
    background: linear-gradient(
      to right,
      #8daf3e 25%,
      75%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 0;

    @include respond-to(phone) {
      width: 100%;
      min-width: auto;
      height: 28rem;
      background: linear-gradient(
        to bottom,
        $background-color-dark 25%,
        80%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

.image-content {
  position: relative;
  z-index: 1;
}

.text-content {
  grid-column: 2;
  color: $font-color-light;
  position: relative;
  z-index: 1;
  max-width: 37.5rem;

  @include respond-to(phone) {
    grid-column: 1;
    grid-row: 2;
    padding: 1rem;
    text-align: center;
    br {
      display: none;
    }
  }
}

// #endregion

// #region ABOUT US
.about-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond-to(phone) {
    grid-template-columns: 1fr;
    div:nth-child(1) {
      order: 2;
    }
    div:nth-child(2) {
      order: 1;
    }
  }
}

.about-us-image {
  height: 100%;
  max-height: 100%;
  background-image: url("../assets/images/photos/about-us.jpg");
  background-position: 50% 70%;
  background-size: cover;

  @include respond-to(phone) {
    min-height: 283px;
    background-position: center;
  }
}

.about-us-text-container {
  h1 {
    color: $primary-color;
    @include section-heading;
  }
  p {
    @include p-text;
    font-weight: 600;
  }
  padding: 8.8125rem 5.25rem 9.8125rem 4.8125rem;

  @include respond-to(phone) {
    @include section-padding;
  }
}
// #endregion

// #region Gallery
.gallery-section {
  display: grid;
  grid-template-rows: min-content min-content;

  @include respond-to(phone) {
    grid-template-rows: 1fr;
  }

  .gallery-text-container {
    padding: 7.9375rem 6.25rem 3.75rem 6.25rem;
    background-color: $primary-color;
    h1 {
      color: $font-color-dark;
      @include section-heading;
    }
    p {
      @include p-text;
    }

    @include respond-to(phone) {
      @include section-padding;
    }
  }
  .gallery-image-container {
    height: 37.5rem;
    background-color: white;

    @include respond-to(phone) {
      height: 200px;
    }
  }
}

// #endregion

// #region CONTACT
.contact-section {
  background-color: $background-color-medium-dark;
}

.contact-container {
  padding: 7.9375rem 6.25rem 3.75rem 6.25rem;
  h1 {
    color: $primary-color;
    @include section-heading;
  }
  p {
    color: $font-color-light;

    @include p-text;
  }

  @include respond-to(phone) {
    @include section-padding;
  }
}
.form-container {
  max-width: 56.25rem;

  @include respond-to(phone) {
    max-width: 100%;
  }
}


.form-group-multi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 1rem;

  > * {
    display: block;
  }
}

.form-grid {
  padding-top: 5.625rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.625rem 2.4375rem;
  align-items: center;

  @include respond-to(phone) {
    grid-template-columns: 1fr;
    gap: 18px;
    padding-top: 2rem;
  }

  .form-group {
    display: contents;

    label {
      justify-self: start;
      padding-right: 0.625rem;
      color: $primary-color;
      font-weight: 600;
      white-space: nowrap;
      align-self: center;

      @include respond-to(phone) {
        justify-self: start;
        padding-right: 0;
        padding-top: 8px;
      }
    }

    textarea {
      min-height: 222px;
    }

    input,
    select,
    textarea {
      padding: 0.625rem;
      background-color: rgba($primary-color, 0.3);
      color: $font-color-light;
      font-size: 1rem;
      font-family: inherit;
      &::placeholder {
        color: rgba($font-color-light, 0.3) !important;
        font-size: inherit;
      }
      border: 0.0625rem solid $primary-color;
      align-self: center;
    &:focus {
      outline: 0.075rem solid $primary-color;
      }
      @include respond-to(phone) {
        width: 100%;
        box-sizing: border-box;
      }
      box-sizing: border-box;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1) saturate(5);
    }

    input[type="submit"] {
      padding: 0.875rem 3.625rem;
      width: fit-content;
      border: none;
      border-radius: 2.8125rem;
      background-color: $primary-color;
      color: $font-color-light;
      text-decoration: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.25rem;
      &:hover {
        background-color: $secondary-color;
        color: $font-color-light !important;
      }

      @include respond-to(phone) {
        width: 250px;
      }
    }

    .radio-group {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      align-items: flex-start;

      @include respond-to(phone) {
        align-items: flex-start;
        gap: 1rem;
      }

      div {
        display: flex;
        align-items: center;
      }

      label {
        color: $font-color-light !important;
        font-weight: 400;
      }
      input[type="radio"] {
        margin-right: 0.8125rem;
        margin-left: 0;
        appearance: none;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        border: 0.0625rem solid $primary-color;
        box-sizing: border-box;
      }

      input[type="radio"]:checked::before {
        content: "";
        display: block;
        width: 30%;
        height: 30%;
        background-color: $primary-color;
        border-radius: 50%;
        position: absolute;
      }
    }
  }
}
// #endregion

// #region FOOTER
.footer-section {
  background-color: $background-color-dark;
  padding: 3.75rem 0 2.5rem 0;
  @include respond-to(phone) {
    @include section-padding;
  }
}

.footer-container {
  h3 {
    color: $font-color-light;
    @include respond-to(phone) {
      margin: 8px 0
    }
  }
  ul {
    li {
      a {
        color: $font-color-light;
        text-decoration: none;
        &:hover {
          color: $primary-color;
        }
      }
      padding: 0.375rem 0;
    }
    list-style: none;
    padding: 0;
    margin: 0;
  }
  display: grid;
  padding: 0 7.5rem 0rem 7.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;

  @include respond-to(phone) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.5fr 1fr;
    padding: 0;
  }

  .footer-logo {
    grid-row: span 2;
    img {
      margin-top: 1.875rem;

      @include respond-to(phone) {
        margin-top: 0;
        height: 186px;
      }
    }
    @include respond-to(phone) {
      grid-row: 1;
      text-align: center;
      grid-column: span 3;
      padding-bottom: 47px;
    }
  }

  .footer-nav-menu {
    grid-row: span 2;
    @include respond-to(phone) {
      grid-row: 2;
    }
  }

  .footer-policies {
    grid-row: span 2;
    @include respond-to(phone) {
      grid-row: 2;
    }
  }

  .footer-follow-us {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond-to(phone) {
      grid-row: 2;
      grid-column: auto;
    }

    .social-icons {
      display: flex;
      gap: 0.625rem;
      margin-top: 0.625rem;
      a:hover {
        img {
          filter: brightness(0) invert(1); /* Macht das Icon weiß */
        }
      }
    }
  }

  .footer-copyright {
    grid-column: 4;
    grid-row: 2;
    p {
      font-size: 1rem;
    }
    align-self: end;

    @include respond-to(phone) {
      grid-row: 3;
      align-self: start;
      grid-column: span 3;
    }
  }
}
// #endregion
