@charset "UTF-8";
@import "../assets/splide/splide.min.css";
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #ffffff;
}

.smartphone-only {
  display: none !important;
}

@media (min-width: 320px) and (max-width: 600px) {
  .smartphone-only {
    display: block !important;
  }
}
.bg-dark {
  background-color: #2d2d2d;
}

.bg-primary {
  background-color: #8daf3e;
}

.bg-secondary {
  background-color: #814997;
}

.border-bottom-white {
  border-bottom: 1rem solid #ffffff;
}

.button {
  display: inline-block;
  padding: 0.875rem 3.625rem;
  border: none;
  border-radius: 2.8125rem;
  background-color: #814997;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
  background-color: #8daf3e;
  color: #ffffff !important;
}

.section-wrapper {
  width: 100%;
}

.inner-container {
  max-width: 75rem;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 600px) {
  .navigation-section {
    display: none;
  }
}
.navigation-section .navigation-bar {
  padding: 1.5625rem 0;
}
.navigation-section .navigation-bar ul {
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 59.9375rem;
  width: 100%;
}
.navigation-section .navigation-bar ul li {
  flex: 1;
  margin: 0 0;
}
.navigation-section .navigation-bar ul .logo {
  display: flex;
  justify-content: center;
}
.navigation-section .navigation-bar ul .logo img {
  width: 9.5rem;
  height: auto;
}
.navigation-section .navigation-bar ul a {
  text-decoration: none;
  color: #ffffff;
}
.navigation-section .navigation-bar ul a:hover {
  color: #8daf3e;
  transition: color 0.3s ease, transform 0.3s ease;
}

.intro-banner {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr minmax(auto, 61.875rem) 1fr;
  background-color: #8daf3e;
  height: 25rem;
}
@media (min-width: 320px) and (max-width: 600px) {
  .intro-banner {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .intro-banner {
    grid-template-columns: 6.25rem minmax(auto, 75rem) 1fr; /*left margin, inner container, right margin*/
  }
}

.image-section {
  grid-column: 2/4;
  background-image: url("../assets/images/photos/quality-service-photo.jpg");
  background-size: cover;
  background-position: right;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 600px) {
  .image-section {
    background-position: center;
    flex-direction: column;
    height: 100dvh;
    padding: 3.5rem 1.625rem 1.25rem 1.625rem;
  }
}
.image-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 31.25rem;
  width: 50vw;
  background: linear-gradient(to right, #8daf3e 25%, 75%, rgba(255, 255, 255, 0) 100%);
  z-index: 0;
}
@media (min-width: 320px) and (max-width: 600px) {
  .image-section:before {
    width: 100%;
    min-width: auto;
    height: 28rem;
    background: linear-gradient(to bottom, #2d2d2d 25%, 80%, rgba(255, 255, 255, 0) 100%);
  }
}

.image-content {
  position: relative;
  z-index: 1;
}

.text-content {
  grid-column: 2;
  color: #ffffff;
  position: relative;
  z-index: 1;
  max-width: 37.5rem;
}
@media (min-width: 320px) and (max-width: 600px) {
  .text-content {
    grid-column: 1;
    grid-row: 2;
    padding: 1rem;
    text-align: center;
  }
  .text-content br {
    display: none;
  }
}

.about-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 320px) and (max-width: 600px) {
  .about-us-grid {
    grid-template-columns: 1fr;
  }
  .about-us-grid div:nth-child(1) {
    order: 2;
  }
  .about-us-grid div:nth-child(2) {
    order: 1;
  }
}

.about-us-image {
  height: 100%;
  max-height: 100%;
  background-image: url("../assets/images/photos/about-us.jpg");
  background-position: 50% 70%;
  background-size: cover;
}
@media (min-width: 320px) and (max-width: 600px) {
  .about-us-image {
    min-height: 17.6875rem;
    background-position: center;
  }
}

.about-us-text-container {
  padding: 8.8125rem 5.25rem 9.8125rem 4.8125rem;
}
.about-us-text-container h1 {
  color: #8daf3e;
  font-size: 3.375rem;
  line-height: 3.375rem;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 600px) {
  .about-us-text-container h1 {
    font-size: 3.375rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .about-us-text-container h1 {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }
}
.about-us-text-container p {
  line-height: 1.5625rem;
  font-weight: 500;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 600px) {
  .about-us-text-container p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .about-us-text-container p {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .about-us-text-container {
    padding: 4.875rem 3.3125rem 3rem 3.3125rem;
  }
}

.gallery-section {
  display: grid;
  grid-template-rows: min-content min-content;
}
@media (min-width: 320px) and (max-width: 600px) {
  .gallery-section {
    grid-template-rows: 1fr;
  }
}
.gallery-section .gallery-text-container {
  padding: 7.9375rem 0 3.75rem 0;
  background-color: #8daf3e;
}
.gallery-section .gallery-text-container h1 {
  color: #2d2d2d;
  font-size: 3.375rem;
  line-height: 3.375rem;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 600px) {
  .gallery-section .gallery-text-container h1 {
    font-size: 3.375rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .gallery-section .gallery-text-container h1 {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }
}
.gallery-section .gallery-text-container p {
  line-height: 1.5625rem;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 600px) {
  .gallery-section .gallery-text-container p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .gallery-section .gallery-text-container p {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .gallery-section .gallery-text-container {
    padding: 4.875rem 3.3125rem 3rem 3.3125rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .gallery-section .gallery-text-container {
    padding: 7.9375rem 6.25rem 3.75rem 6.25rem;
  }
}
.gallery-section .gallery-image-container {
  height: 37.5rem;
  background-color: white;
}
@media (min-width: 320px) and (max-width: 600px) {
  .gallery-section .gallery-image-container {
    height: 12.5rem;
  }
}

input,
textarea {
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px rgba(141, 175, 62, 0.3);
  border-color: #8daf3e;
}

input:invalid, textarea:invalid {
  border: 2px solid red;
}

input:valid, textarea:valid {
  border: 2px solid green;
}

.error-message,
.radio-error-message {
  color: red;
  font-size: 0.875rem;
  display: none;
}

input:invalid + .error-message,
textarea:invalid + .error-message {
  display: block;
}

.radio-group:has(input:invalid) .radio-error-message {
  display: block;
}

.contact-section {
  background-color: #5f5e5e;
}

.contact-container {
  padding: 7.9375rem 6.25rem 3.75rem 6.25rem;
  margin: 0 auto;
  max-width: 75rem;
}
.contact-container h1 {
  color: #8daf3e;
  font-size: 3.375rem;
  line-height: 3.375rem;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 600px) {
  .contact-container h1 {
    font-size: 3.375rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .contact-container h1 {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }
}
.contact-container p {
  color: #ffffff;
  line-height: 1.5625rem;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 600px) {
  .contact-container p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .contact-container p {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .contact-container {
    padding: 4.875rem 3.3125rem 3rem 3.3125rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .contact-container {
    max-width: initial;
  }
}

.form-container {
  max-width: 56.25rem;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }
}

.form-group-multi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 1rem;
}
.form-group-multi > * {
  display: block;
}

.form-grid {
  padding-top: 5.625rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.625rem 2.4375rem;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
    gap: 1.125rem;
    padding-top: 2rem;
  }
}
.form-grid .form-group {
  display: contents;
}
.form-grid .form-group label {
  justify-self: start;
  padding-right: 0.625rem;
  color: #8daf3e;
  font-weight: 600;
  white-space: nowrap;
  align-self: center;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-grid .form-group label {
    justify-self: start;
    padding-right: 0;
    padding-top: 0.5rem;
  }
}
.form-grid .form-group textarea {
  min-height: 13.875rem;
}
.form-grid .form-group input,
.form-grid .form-group select,
.form-grid .form-group textarea {
  width: 100%;
  padding: 0.625rem;
  background-color: rgba(141, 175, 62, 0.3);
  color: #ffffff;
  font-size: 1rem;
  font-family: inherit;
  border: 0.0625rem solid #8daf3e;
  align-self: center;
  box-sizing: border-box;
}
.form-grid .form-group input::placeholder,
.form-grid .form-group select::placeholder,
.form-grid .form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
  font-size: inherit;
}
.form-grid .form-group input:focus,
.form-grid .form-group select:focus,
.form-grid .form-group textarea:focus {
  outline: 0.075rem solid #8daf3e;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-grid .form-group input,
  .form-grid .form-group select,
  .form-grid .form-group textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
.form-grid .form-group input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1) saturate(5);
}
.form-grid .form-group input[type=submit] {
  padding: 0.875rem 3.625rem;
  width: fit-content;
  border: none;
  border-radius: 2.8125rem;
  background-color: #8daf3e;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.25rem;
}
.form-grid .form-group input[type=submit]:hover {
  background-color: #814997;
  color: #ffffff !important;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-grid .form-group input[type=submit] {
    width: 15.625rem;
  }
}
.form-grid .form-group .radio-group {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-grid .form-group .radio-group {
    align-items: flex-start;
    gap: 1rem;
  }
}
.form-grid .form-group .radio-group div {
  display: flex;
  align-items: center;
}
.form-grid .form-group .radio-group label {
  color: #ffffff !important;
  font-weight: 400;
}
.form-grid .form-group .radio-group input[type=radio] {
  margin-right: 0.8125rem;
  margin-left: 0;
  appearance: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #8daf3e;
  box-sizing: border-box;
}
.form-grid .form-group .radio-group input[type=radio]:checked::before {
  content: "";
  display: block;
  width: 30%;
  height: 30%;
  background-color: #8daf3e;
  border-radius: 50%;
  position: absolute;
}

.footer-section {
  background-color: #2d2d2d;
  padding: 3.75rem 0 2.5rem 0;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-section {
    padding: 4.875rem 3.3125rem 3rem 3.3125rem;
  }
}

.footer-container {
  display: grid;
  padding: 0 7.5rem 0rem 7.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;
}
.footer-container h3 {
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container h3 {
    margin: 0.5rem 0;
  }
}
.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-container ul li {
  padding: 0.375rem 0;
}
.footer-container ul li a {
  color: #ffffff;
  text-decoration: none;
}
.footer-container ul li a:hover {
  color: #8daf3e;
  transition: color 0.3s ease, transform 0.3s ease;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.5fr 1fr;
    padding: 0;
  }
}
.footer-container .footer-logo {
  grid-row: span 2;
}
.footer-container .footer-logo img {
  margin-top: 1.875rem;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container .footer-logo img {
    margin-top: 0;
    height: 11.625rem;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container .footer-logo {
    grid-row: 1;
    text-align: center;
    grid-column: span 3;
    padding-bottom: 2.9375rem;
  }
}
.footer-container .footer-nav-menu {
  grid-row: span 2;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container .footer-nav-menu {
    grid-row: 2;
  }
}
.footer-container .footer-policies {
  grid-row: span 2;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container .footer-policies {
    grid-row: 2;
  }
}
.footer-container .footer-follow-us {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container .footer-follow-us {
    grid-row: 2;
    grid-column: auto;
  }
}
.footer-container .footer-follow-us .social-icons {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.625rem;
}
.footer-container .footer-follow-us .social-icons a:hover img {
  filter: brightness(0) invert(1); /* Macht das Icon weiß */
}
.footer-container .footer-copyright {
  grid-column: 4;
  grid-row: 2;
  align-self: end;
}
.footer-container .footer-copyright p {
  font-size: 1rem;
}
@media (min-width: 320px) and (max-width: 600px) {
  .footer-container .footer-copyright {
    grid-row: 3;
    align-self: start;
    grid-column: span 3;
  }
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  color: #ffffff;
  transition: opacity 0.8s ease, transform 0.8s ease, color 0.8s ease;
}
.fade-in-up.active {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=styles.css.map */
